<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Chatbox</title>
        <link href="/static/styles.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="chatwindow">
                <div class="col">
                    <ul id="chathistory" style="list-style-type:none;">
                    </ul>
                </div>
            </div>
            <div class="col">
                <form id="chat">
                    <input id="chattext" autocomplete="off" autofocus placeholder="Chat" type="text">
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="channeloverview">
                    <form id="addchannel">
                        <input id="channelname" autocomplete="off" autofocus placeholder="Channelname" type="text">
                        <input type="submit">
                    </form>
                    <ul id="channellist">
                        </ul>
                </div>
            </div>
            <div class="col">
                <h3>User: Steven</h3>
            </div>
        </div>
    </div>
    </body>
</html>