{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <div id="search" class = "section">
        <form>
          Search book: <input type="text" name="search"><br>
        </form>
    </div>

    <div id="Upload" class = "section">
        <form>
          Upload book list: <input type="file" accept=".csv" />
        </form>
    </div>

    <div id="searchResultOverview" class = "section">
        <h1>Search results</h1>
        <div id="searchResult" class = "container">
            <div> Search result 1 </div>
            <div> Search result 2 </div>
            <div> Search result 3 </div>
            <div> Search result 4 </div>
            <div> Search result 5 </div>
        </div>
    </div>

{% endblock %}